.circle--box {
  height: 150px;
  width: 150px;
  position: relative;
  border-radius: 50%;
  animation: flipMoment 600ms ease-in-out 1s 2;
  /* animation: flipMoment 300ms ease-in-out 100ms infinite; */
  background: #87ceeb;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: purple;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}

@keyframes flipMoment {
  from {
  }

  to {
    top: 0;
    left: 500px;
  }
}
